/*-- scss:defaults --*/
// Base document colors
$primary: #BE2BBB;
$secondary: #A69F9F;
$light: #EEE7E7; 
$dark: #595454;
$success: #1dce9b;
$info: #009fba;
$warning: #ffac25;
$danger: #df603a;
$callout-color-note: $info;
$callout-color-tip: $success;
$callout-color-caution: #772A28;
$callout-color-warning: $warning;
$callout-color-important: $danger;
$body-color: $dark;
